.image { 
    /*Only do width or height but not both or picture will be very werid*/
    /* height: 200px; */
    /* width: 1000px; */
}

.background {
    /*This is only for decorating purpses just background of the website*/
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('https://picsum.photos/id/102/100');
}

.image, figure{
    border: 5px solid;
    width: fit-content;    
}

img.photo {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}