/* body {
    background-color: red;
} */


/*Conditional CSS - Media Querry*/
/* @media (max-width: 1000px){
    body{
        background-color: #f33;
    }
    h1{
        text-align: center;
        font-size: 5em;
    }
   
} */

/* @media(min-width: 1000px){
    body{
        background-color: lightgreen;
    }
    h1{
        text-align: right;
        font-size: 4em;
        rotate: 180deg;
    
    }

} */

h1{
    font-size: 6rem;
    text-align: center;
    text-transform: capitalize; 
}

body {
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.column {
    float: left;
    padding: 5px;
    box-sizing: border-box;
    text-align: justify;
    color: white;
    background-color: rgba(0,0,0,0.5);

}




/*> 1800px*/
@media (min-width: 1800px){
    body{
        background-image: url('https://picsum.photos/id/1050/2550/1440');
    }
    .column {
        width: 25%;
    
    }
    h1{
        color: pink;
    }
}
/*800 < x < 1800*/
@media (min-width: 800px) and (max-width:1800px){
    body{
        background-image: url('https://picsum.photos/id/1021/1800/1440');
    }
    .column {
        
        width: 50%;
       
    }
    h1 {
        color: blue;
    }
}

/*x < 800*/
@media (max-width: 800px){
    body{
        background-image: url('https://picsum.photos/id/1055/800/1440');
    }
    .column {
       
        width: 100%;
    }
    h1{
        color: green;
    }
}

